/* 10 09 2019 */
:root{
	--back-primary: #2b5876!important;	
	--back-login: #0693de!important;	
	--back-shadow: #2b5876!important;	
	--back-hover:#ffffff!important;

	--font-family:"Nunito Sans",sans-serif;
	--font-family2:"Nunito Sans",sans-serif;
	--font-size:12px!important;
	--theme-font:white!important;
	--border-radius:4px!important;

	/*--sidebar-background-color:#505356;*/
	--sidebar-background-color:transparent;	
	--sidebar-font-color:white;	
	--sidebar-font-color-hover:#70cfff;

	--sidebar-font-color-submenu:white;	
	--sidebar-font-color-hover-submenu:#70cfff;

	--sidebar-font-size:14px;
	--sidebar-font-size-submenu:13px;	

	--form-background-color:#2e6e8d;
	--form-background-color-2:#505356;	 /* Not Used */
	--form-background-color-hover:#505356;	
	--form-font-color:#ffffff;
	--form-font-color-2:red;	
	--form-font-color-hover:#4a4a4a;       
}
#sidebar{
	/*background: linear-gradient(180deg, rgba(0,175,210,1) 0%, rgba(0,0,0,1) 50%, rgba(0,0,0,1) 51%, rgba(0,175,210,1) 100%);*/
}
.page-sidebar{
background: rgb(43,88,118);
background: linear-gradient(180deg, rgba(43,88,118,1) 0%, rgba(78,67,118,1) 35%, rgba(76,44,193,1) 89%);
}
.page-sidebar.mini .page-sidebar-wrapper > ul > li > ul.sub-menu {
    background: var(--back-primary)!important;
}
.header-quick-nav{
	/*background: linear-gradient(90deg, rgb(0 169 203) 38%, rgb(4 20 24) 100%);*/
}