/* 10 09 2019 */
:root{
	--back-primary:#9a0326!important;	
	--back-login: #0693de!important;	
	--back-shadow:#740b23!important;	
	--back-hover:#ffffff!important;

	--font-family:"Nunito Sans",sans-serif;
	--font-family2:"Nunito Sans",sans-serif;
	--font-size:12px!important;
	--theme-font:white!important;
	--border-radius:4px!important;

	--sidebar-background-color:#9a0326;	
	--sidebar-font-color:white;	
	--sidebar-font-color-hover:#70cfff;

	--sidebar-font-color-submenu:white;	
	--sidebar-font-color-hover-submenu:#70cfff;

	--sidebar-font-size:14px;
	--sidebar-font-size-submenu:13px;	

	--form-background-color:var(--back-primary);
	--form-background-color-2:#4a4a4a; /* Not Used */
	--form-background-color-hover:#f24a22;	
	--form-font-color:#ffffff;
	--form-font-color-2:var(--back-primary);	
	--form-font-color-hover:#4a4a4a;    
}
#sidebar{
	/*background: linear-gradient(180deg, rgba(0,175,210,1) 0%, rgba(0,0,0,1) 50%, rgba(0,0,0,1) 51%, rgba(0,175,210,1) 100%);*/
}
.header-quick-nav{
	/*background: linear-gradient(90deg, rgb(0 169 203) 38%, rgb(4 20 24) 100%);*/
}